@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/*------------------------СТАРТ ПЕРВОЙ СЕКЦИИ---------------------------------------*/

.first-section {
    background-image: url('../img/Sections background/section-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.top-menu-nav-item {
    font-size: 13px;
    color: #b8b8b8;
    font-weight: 700;
    padding: 56px 0 55px 0;
}

.top-menu-nav-item:hover {
    color: #32ac92;
    box-shadow: 0 3px 0 -1px #32ac92;
    transition: all 0.3s ease-out;
}

.first-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 245px 0;
}

.first-section-top-content {
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.first-section-middle-content {
    margin-bottom: 37px;
    font-size: 69px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.first-section-bottom-content {
    color: #d4d4d4;
    font-size: 30px;
    font-weight: 200;
}

.first-section-buttons {
    display: flex;
    width: 360px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 142px;
}

.first-section-button-left {
    font-size: 13px;
    padding: 26px 32px;
    background-color: #18cfab;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

/*------------------------СТАРТ ВТОРОЙ СЕКЦИИ---------------------------------------*/

.second-section {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.second-section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.second-section-card:hover {
    filter: contrast(130%);
    transition: all 0.3s ease-out;
}

.second-section-card:nth-child(2n-1) {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 7px solid #18cfab;
}

.second-section-card:nth-child(2n) {
    background-color: #18cfab;
    color: white;
    border-top: 7px solid white;
}

.second-section-img-bigger {
    padding-top: 95px;
    padding-bottom: 48px;
}

.second-section-img-smaller {
    padding-top: 106px;
    padding-bottom: 59px;
}

.second-section-text {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 120px;
}

/*------------------------СТАРТ ТРЕТЬЕЙ СЕКЦИИ---------------------------------------*/

.third-section {
    padding-bottom: 101px;
}

.third-section-tab-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.third-section-tab {
    background-color: #eeeeef;
    box-sizing: border-box;
    border: 1px solid #ebecec;
}

.third-section-tab-text {
    position: relative;
    font-size: 16px;
    padding: 28px 0;
    text-align: center;
    cursor: pointer;
    color: #9e9fa0;
    background-color: #eeeeef;
    box-sizing: border-box;
    border: 1px solid #ebecec;
}

.third-section-tab-text:hover {
    color: white;
    background-color: #18cfab;
}

/*.third-section-tab-text:hover::after {*/
/*    position: absolute;*/
/*    content: '';*/
/*    width: 24px;*/
/*    height: 13px;*/
/*    border-bottom: 22px solid #18cfab;*/
/*    top: 50px;*/
/*    right: 82px;*/
/*    transform: rotate(45deg);*/
/*}*/

.third-section-content-box {
    display: none;
    grid-template-columns: 20% 80%;
    padding-top: 25px;
}

.third-section-content-box:first-child {
    display: grid;
}

.third-section-image {
    width: 194px;
    height: 139px;
}

.third-section-text {
    color: #adadad;
    text-align: justify;
    font-size: 14px;
    font-weight: 200;
}

.after1.active::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 13px;
    border-bottom: 22px solid #18cfab;
    top: 50px;
    left: 85px;
    transform: rotate(45deg);
}

.after2.active::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 13px;
    border-bottom: 22px solid #18cfab;
    top: 50px;
    left: 86px;
    transform: rotate(45deg);
}

.after3.active::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 13px;
    border-bottom: 22px solid #18cfab;
    top: 50px;
    left: 85px;
    transform: rotate(45deg);
}

.after4.active::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 13px;
    border-bottom: 22px solid #18cfab;
    top: 50px;
    left: 85px;
    transform: rotate(45deg);
}

.after5.active::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 13px;
    border-bottom: 22px solid #18cfab;
    top: 50px;
    left: 86px;
    transform: rotate(45deg);
}

.after6.active::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 13px;
    border-bottom: 22px solid #18cfab;
    top: 50px;
    left: 85px;
    transform: rotate(45deg);
}


/*------------------------СТАРТ ЧЕТВЕРТОЙ СЕКЦИИ---------------------------------------*/

.fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/Sections background/section-4.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.fourth-section-header {
    font-size: 39px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
    padding: 128px 0 35px 0;
}

.fourth-section-subheader {
    font-size: 16px;
    color: #6e6b6a;

}

.fourth-section-button-padding {
    margin: 80px 0 110px 0;
}

/*------------------------НАЧАЛО ПЯТОЙ СЕКЦИИ---------------------------------------*/

.fifth-section-tab-menu {
    display: grid;
    width: 609px;
    margin: 0 auto;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
}

.fifth-section-tab-text {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    font-size: 14px;
    padding: 22px 0;
    cursor: pointer;
}

.fifth-section-tab-text:hover {
    color: #18cfab;
    box-sizing: border-box;
    border-top: 1px solid #18cfab;
    transition: all 0.3s ease-out;
}

.fifth-section-image-box {
    display: flex;
    flex-wrap: wrap;
    padding: 71px 0;
    box-sizing: border-box;
}

.fifth-section-image-card {
    position: relative;
    overflow: hidden;
}

.fifth-section-image-card:hover > .fifth-section-image-onhover {
    bottom: 0;
    border-top: 3px solid #18cfab;
    box-sizing: border-box;
}

.fifth-section-image {
    height: 100%;
}

.fifth-section-image-onhover {
    position: absolute;
    bottom: -210px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: bottom 0.3s;
}

.onhover-icons {
    margin-top: 43px;
    margin-bottom: 34px;
    vertical-align: center;
}

.green-search-icon {
    content: url("../img/green-search-icon.png");
}

.green-link-icon {
    content: url("../img/green-link-icon.png");
}

.onhover-first-header {
    margin-bottom: 13px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #18cfab;
}

.onhover-second-header {
    margin-bottom: 52px;
    font-size: 20px;
    color: #a7a8a9;
}

.loading-area {
    padding-bottom: 100px;
}


/*--------------------------НАЧАЛО ШЕСТОЙ СЕКЦИИ--------------------------------*/

.sixth-section-image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 45px;
}

.sixth-section-post-box {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.sixth-section-post-box::after {
    content: '12';
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    background-color: #203e38;
    color: white;
    padding-top: 15px;
}

.sixth-section-post-box::before {
    content: 'FEB';
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    font-size: 16px;
    color: white;
    z-index: 1;
}

.sixth-section-text-box {
    background-color: #f8fcfe;
}

.big-header {
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    padding: 14px 0 14px 13px;
}

.small-header {
    font-size: 14px;
    font-weight: 200;
    color: #888989;
    padding: 0 0 12px 17px;
}

.sixth-section-post-box:hover .big-header {
    color: #18cfab;
}

.sixth-section-post-box:hover::after  {
    background-color: #18cfab;
}

/*------------------------СТАРТ СЕДЬМОЙ СЕКЦИИ---------------------------------------*/


.seventh-section {
    background-image: url('../img/Sections background/section-3.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.seventh-section-text {
    position: relative;
    margin-top: 66px;
    font-size: 16px;
    font-weight: 200;
    color: #a3a7a8;
    text-align: center;
}

.seventh-section-text::before {
    content: url("../img/quotes.png");
    position: absolute;
    width: 44px;
    height: 30px;
    top: -70px;
    left: 560px;
}

.slider-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 37px 0 103px 0;
}

.people-name {
    font-size: 18px;
    color: #18cfab;
    font-weight: 700;
}

.people-career {
    font-size: 14px;
    font-weight: 200;
    color: #747f83;
    margin-top: 15px;
}

.people-photo {
    width: 143px;
    height: 143px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #18cfab;
    margin: 37px 0 68px 0;
    box-shadow: 0 0 10px 15px #134846;
    background-image: url(../img/anastasia.png);
    background-size: cover;
    transition: all 0.5s ease-out;
}

.arrows-and-rounds {
    width: 482px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rounds {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 10px 7px #134846;
    background-size: cover;
}

.move-round-top {
    position: relative;
    bottom: 10px;
    border: 2px solid #18cfab;
    transition: all 0.3s ease-out;
}

.round1 {
    background-image: url(../img/anastasia.png);
}

.round2 {
    background-image: url(../img/molen.png);
}

.round3 {
    background-image: url(../img/rodya.png);
}

.round4 {
    background-image: url(../img/yamnyk.png);
}

.arrow {
    position: relative;
    width: 31px;
    height: 31px;
    font-size: 33px;
    color: grey;
    display: block;
    box-sizing: border-box;
    border: 1px solid grey;
    text-align: center;
    cursor: pointer;
}

.left-arrow::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 13px;
    width: 8px;
    height: 8px;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
}

.right-arrow::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
}

.arrow:hover {
    background-color: #18cfab;
    transition: all 0.3s ease-out;
}

.left-arrow:hover::before {
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: all 0.3s ease-out;
}

.right-arrow:hover::before {
    border-top: 1px solid white;
    border-right: 1px solid white;
    transition: all 0.3s ease-out;
}

/*--------------------------FOOTER----------------------------------------*/

footer {
    background-color: #22353f;
    margin: 11px 0;
}

.footer-text {
    color: #636d73;
    font-size: 14px;
    padding: 47px 0;
    text-align: center;
}


/*------------------------ЗАГОЛОВОК СЕКЦИИ---------------------------------------*/

.section-header {
    position: relative;
    padding: 82px 0 112px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    color: #4e4e4e;
}

.section-header::after {
    position: absolute;
    content: '';
    color: #32ac92;
    width: 76px;
    border-bottom: 1px solid #32ac92;
    top: 153px;
    right: 530px;
}

.section-header::before {
    position: absolute;
    content: '';
    color: #32ac92;
    width: 76px;
    border-bottom: 1px solid #32ac92;
    top: 150px;
    right: 543px;
}


/*------------------------ЦВЕТА, КНОПКА И МЕЛОЧИ---------------------------------------*/

.lightblue-bg {
    background-color: #00cbf6;
}

.teal-bg {
    background-color: #18cfab;
}

.teal-color {
    color: #18cfab;

}

.white-color {
    color: white;
}

.active {
    background-color: #18cfab;
    color: white;
}

.active-image-tab {
    color: #18cfab;
    box-sizing: border-box;
    border-top: 1px solid #18cfab;
}

.button {
    font-size: 13px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 61px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 -4px white;
}

.button:hover {
    filter: contrast(130%);
    transition: all 0.3s ease-out;
}

.hidden-image {
    display: none;
}

.bg-darkwhite {
    background-color: #f8fcfe;
}

.bg-molen {
    background-image: url(../img/molen.png);
    background-size: cover;
}

.bg-anastasia {
    background-image: url(../img/anastasia.png);
    background-size: cover;
}

.bg-rodya {
    background-image: url(../img/rodya.png);
    background-size: cover;
}

.bg-yamnyk {
    background-image: url(../img/yamnyk.png);
    background-size: cover;
}